@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<div class="container ms-5 ps-5">
    <h2 class="text-danger">Unavailable content</h2>
    <br />
    <h3>An error occurred while processing your request; please try again later</h3>
</div>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}


@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
